* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #eaeff2;
}

a {
  text-decoration: none;
  color: rgb(87, 87, 202);
}

/*INDEX*/
.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo {
  width: 200px;
  height: auto;
}
.login-register-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
button {
  background-color: #1a73e8;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  margin: 20px;
}
.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #1a73e8;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  font-weight: bold;
}

/* REGISTER */
.register-form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.main-container-register {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input {
  margin-bottom: 16px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  transition: border-color 0.3s;
  margin-right: 10px;
}

label {
  margin-bottom: 6px;
  font-weight: 500;
  color: #333;
  margin-right: 10px;
}
input:focus {
  border-color: #1a73e8;
  outline: none;
}
